@use '../../variables' as *;

:root {
    --compSpec-tag-color-bg-default: var(--mn-baseColor-neutral-800);
    --compSpec-tag-color-text-default: var(--semantic-color-text-default-inverse);
    --compSpec-tag-spacing-padding-vertical: var(--mn-baseSize-0075);
    --compSpec-tag-spacing-padding-horizontal: var(--mn-baseSize-0150);
    --compSpec-tag-radius-default: var(--mn-baseSize-0100);
}

.figma-dark body, body.dark-mode{
    --compSpec-tag-color-bg-default: var(--mn-baseColor-neutral-200);
    --compSpec-tag-color-text-default: var(--semantic-color-text-default-inverse);
}

.tag{
    &-default{
        background-color: var(--compSpec-tag-color-bg-default);
        color: var(--compSpec-tag-color-text-default);
        padding: var(--compSpec-tag-spacing-padding-vertical) var(--compSpec-tag-spacing-padding-horizontal);
        border-radius: var(--compSpec-tag-radius-default);
        align-self: flex-start;
    }
}