// @import './../../_variables.scss';
@use '../../variables' as *;

:root {
    --compSpec-button-filled-color-bg-resting: var(--mn-baseColor-teal-700);
    --compSpec-button-filled-color-bg-hover: var(--mn-baseColor-teal-800);
    --compSpec-button-filled-color-bg-focus: var(--mn-baseColor-teal-800);
    --compSpec-button-filled-color-bg-pressed: var(--mn-baseColor-teal-900);
    --compSpec-button-filled-color-bg-disabled: var(--mn-baseColor-neutral-300);
    --compSpec-button-filled-color-text-resting: var(--mn-baseColor-neutral-100);
    --compSpec-button-filled-color-text-hover: var(--mn-baseColor-neutral-100);
    --compSpec-button-filled-color-text-focus: var(--mn-baseColor-neutral-100);
    --compSpec-button-filled-color-text-pressed: var(--mn-baseColor-neutral-100);
    --compSpec-button-filled-color-text-disabled: var(--mn-baseColor-neutral-100);
    --compSpec-button-filled-color-border-resting: var(--mn-baseColor-transparent);
    --compSpec-button-filled-color-border-hover: var(--mn-baseColor-transparent);
    --compSpec-button-filled-color-border-focus: var(--mn-baseColor-transparent);
    --compSpec-button-filled-color-border-pressed: var(--mn-baseColor-transparent);
    --compSpec-button-filled-color-border-disabled: var(--mn-baseColor-transparent);
    --compSpec-button-filled-color-outline-resting: var(--mn-baseColor-teal-200);
    --compSpec-button-filled-color-outline-hover: var(--mn-baseColor-teal-200);
    --compSpec-button-filled-color-outline-focus: var(--mn-baseColor-teal-200);
    --compSpec-button-filled-color-outline-pressed: var(--mn-baseColor-teal-200);
    --compSpec-button-filled-color-outline-disabled: var(--mn-baseColor-transparent);
    --compSpec-button-filled-spacing-vertical: var(--mn-baseSize-0150);
    --compSpec-button-filled-spacing-horizontal: var(--mn-baseSize-0200);
    --compSpec-button-filled-spacing-gap: var(--mn-baseSize-0100);
    --compSpec-button-filled-radius: var(--mn-baseSize-0200);
    --compSpec-button-filled-size-border-resting: var(--mn-baseSize-0000);
    --compSpec-button-filled-size-border-hover: var(--mn-baseSize-0000);
    --compSpec-button-filled-size-border-focus: var(--mn-baseSize-0000);
    --compSpec-button-filled-size-border-pressed: var(--mn-baseSize-0000);
    --compSpec-button-filled-size-border-disabled: var(--mn-baseSize-0000);
    --compSpec-button-filled-size-outline-resting: var(--mn-baseSize-0000);
    --compSpec-button-filled-size-outline-hover: var(--mn-baseSize-0025);
    --compSpec-button-filled-size-outline-focus: var(--mn-baseSize-0025);
    --compSpec-button-filled-size-outline-pressed: var(--mn-baseSize-0000);
    --compSpec-button-filled-size-outline-disabled: var(--mn-baseSize-0000);
    --compSpec-button-filled-icon-size-width: var(--mn-baseSize-0225);
    --compSpec-button-filled-icon-size-height: var(--mn-baseSize-0225);
    --compSpec-button-iconOnly-filled-icon-size-width: var(--mn-baseSize-0300);
    --compSpec-button-iconOnly-filled-icon-size-height: var(--mn-baseSize-0300);
    --compSpec-button-iconOnly-filled-spacing-vertical: var(--mn-baseSize-0150);
    --compSpec-button-iconOnly-filled-spacing-horizontal: var(--mn-baseSize-0150);
}

body.dark-mode{
    --compSpec-button-filled-color-bg-resting: var(--mn-baseColor-teal-400);
    --compSpec-button-filled-color-bg-hover: var(--mn-baseColor-teal-300);
    --compSpec-button-filled-color-bg-focus: var(--mn-baseColor-teal-300);
    --compSpec-button-filled-color-bg-pressed: var(--mn-baseColor-teal-200);
    --compSpec-button-filled-color-bg-disabled: var(--mn-baseColor-neutral-600);
    --compSpec-button-filled-color-text-resting: var(--mn-baseColor-neutral-900);
    --compSpec-button-filled-color-text-hover: var(--mn-baseColor-neutral-900);
    --compSpec-button-filled-color-text-focus: var(--mn-baseColor-neutral-900);
    --compSpec-button-filled-color-text-pressed: var(--mn-baseColor-neutral-900);
    --compSpec-button-filled-color-text-disabled: var(--mn-baseColor-neutral-900);
    --compSpec-button-filled-color-border-resting: var(--mn-baseColor-transparent);
    --compSpec-button-filled-color-border-hover: var(--mn-baseColor-transparent);
    --compSpec-button-filled-color-border-focus: var(--mn-baseColor-transparent);
    --compSpec-button-filled-color-border-pressed: var(--mn-baseColor-transparent);
    --compSpec-button-filled-color-border-disabled: var(--mn-baseColor-transparent);
    --compSpec-button-filled-color-outline-resting: var(--mn-baseColor-teal-800);
    --compSpec-button-filled-color-outline-hover: var(--mn-baseColor-teal-800);
    --compSpec-button-filled-color-outline-focus: var(--mn-baseColor-teal-800);
    --compSpec-button-filled-color-outline-pressed: var(--mn-baseColor-teal-800);
    --compSpec-button-filled-color-outline-disabled: var(--mn-baseColor-transparent);
}

button{
    &.button-filled{
        cursor: pointer;
        background-color: var(--compSpec-button-filled-color-bg-resting);
        color: var(--compSpec-button-filled-color-text-resting);
        border-radius: var(--compSpec-button-filled-radius);
        border-color: var(--compSpec-button-filled-color-border-resting);
        border-width: var(--compSpec-button-filled-size-border-resting);
        border-style: solid;
        outline-color: var(--compSpec-button-filled-color-outline-resting);
        outline-width: var(--compSpec-button-filled-size-outline-resting);
        outline-style: solid;
        padding: var(--compSpec-button-filled-spacing-vertical) var(--compSpec-button-filled-spacing-horizontal);
        display: flex;
        flex-flow: row;
        gap: var(--compSpec-button-filled-spacing-gap);
        transition: all .20s ease-out;
        @include body-medium;

        &:hover{
            background-color: var(--compSpec-button-filled-color-bg-hover);
            color: var(--compSpec-button-filled-color-text-hover);
            border-color: var(--compSpec-button-filled-color-border-hover);
            border-width: var(--compSpec-button-filled-size-border-hover);
            outline-color: var(--compSpec-button-filled-color-outline-hover);
            outline-width: var(--compSpec-button-filled-size-outline-hover);
        }

        &:focus-within{
            background-color: var(--compSpec-button-filled-color-bg-focus);
            color: var(--compSpec-button-filled-color-text-focus);
            border-color: var(--compSpec-button-filled-color-border-focus);
            border-width: var(--compSpec-button-filled-size-border-focus);
            outline-color: var(--compSpec-button-filled-color-outline-focus);
            outline-width: var(--compSpec-button-filled-size-outline-focus);
        }

        &:active{
            background-color: var(--compSpec-button-filled-color-bg-pressed);
            color: var(--compSpec-button-filled-color-text-pressed);
            border-color: var(--compSpec-button-filled-color-border-pressed);
            border-width: var(--compSpec-button-filled-size-border-pressed);
            outline-color: var(--compSpec-button-filled-color-outline-pressed);
            outline-width: var(--compSpec-button-filled-size-outline-pressed);
        }

        &:disabled{
            background-color: var(--compSpec-button-filled-color-bg-disabled);
            color: var(--compSpec-button-filled-color-text-disabled);
            border-color: var(--compSpec-button-filled-color-border-disabled);
            border-width: var(--compSpec-button-filled-size-border-disabled);
            outline-color: var(--compSpec-button-filled-color-outline-disabled);
            outline-width: var(--compSpec-button-filled-size-outline-disabled);
            cursor: not-allowed;
        }

        & .icon-only{
            padding: var(--compSpec-button-iconOnly-filled-spacing-vertical) var(--compSpec-button-iconOnly-filled-spacing-horizontal);
        }
    }
}