@use '../../variables' as *;

:root {
    --compSpec-modal-scrim-color-bg: #A6ABA528;
    --compSpec-modal-scrim-effect-bgBlur: var(--mn-baseSize-0400);
    --compSpec-modal-color-bg: var(--mn-color-neutral-0100);
    --compSpec-modal-spacing-margin-vertical: var(--mn-baseSize-0000);
    --compSpec-modal-spacing-margin-horizontal: var(--mn-baseSize-0400);
    --compSpec-modal-spacing-padding-vertical-top: var(--mn-baseSize-0500);
    --compSpec-modal-spacing-padding-vertical-bottom: var(--mn-baseSize-0400);
    --compSpec-modal-spacing-padding-horizontal: var(--mn-baseSize-0400);
    --compSpec-modal-radius: var(--mn-baseSize-0400);
    --compSpec-modal-header-spacing-gap: var(--mn-baseSize-0100);
}

.figma-dark body, body.dark-mode {
    --compSpec-modal-scrim-color-bg: #27332528;
    --compSpec-modal-color-bg: var(--mn-color-neutral-0900);
}

.modal-scrim-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    z-index: 1000;
    justify-content: center;
}

.scrim {
    background-color: var(--compSpec-modal-scrim-color-bg);
    -webkit-backdrop-filter: blur(var(--compSpec-modal-scrim-effect-bgBlur));
    backdrop-filter: blur(var(--compSpec-modal-scrim-effect-bgBlur));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100vh;
    width: 100vw;

    transition-property: opacity;
    transition-duration: 400ms;
    transition-timing-function: ease-out;
    opacity: 1;
}

.modal.closing + .scrim{
    transition-delay: 400ms;
    opacity: 0;
}

.modal {
    position: relative;
    background-color: var(--compSpec-modal-color-bg);
    margin: var(--compSpec-modal-spacing-margin-vertical) var(--compSpec-modal-spacing-margin-horizontal);
    padding: var(--compSpec-modal-spacing-padding-vertical-top) var(--compSpec-modal-spacing-padding-horizontal) var(--compSpec-modal-spacing-padding-vertical-bottom);
    border-radius: var(--compSpec-modal-radius);
    z-index: 1;
    transition-property: opacity, translate;
    transition-duration: 400ms;
    transition-timing-function: ease-out;
    transition-delay: 250ms;

    @starting-style{
        opacity: 0;
        translate: 0 48px;
    }

    &.closing{
        transition-delay: 0ms;
        opacity: 0;
        translate: 0 48px;
    }

    & .modal-header {
        display: flex;
        flex-direction: column;
        gap: var(--compSpec-modal-header-spacing-gap);
    }

    & .modal-close {
        position: absolute;
        top: 8px;
        right: 8px;
    }
}