@use '../../variables' as *;

:root {
    --compSpec-question-container-color-bg-resting: var(--mn-baseColor-neutral-100);
    --compSpec-question-container-color-bg-hover: var(--mn-baseColor-teal-100);
    --compSpec-question-container-color-bg-focus: var(--mn-baseColor-teal-100);
    --compSpec-question-container-color-bg-active: var(--mn-baseColor-neutral-100);
    --compSpec-question-container-color-bg-disabled: var(--mn-baseColor-neutral-200);
    --compSpec-question-container-color-border-resting: var(--mn-baseColor-neutral-600);
    --compSpec-question-container-color-border-hover: var(--mn-baseColor-teal-800);
    --compSpec-question-container-color-border-focus: var(--mn-baseColor-teal-800);
    --compSpec-question-container-color-border-active: var(--mn-baseColor-teal-800);
    --compSpec-question-container-color-border-disabled: var(--mn-baseColor-neutral-400);
    --compSpec-question-container-size-border-resting: var(--mn-baseSize-0013);
    --compSpec-question-container-size-border-hover: var(--mn-baseSize-0013);
    --compSpec-question-container-size-border-focus: var(--mn-baseSize-0013);
    --compSpec-question-container-size-border-active: var(--mn-baseSize-0013);
    --compSpec-question-container-size-border-disabled: var(--mn-baseSize-0013);
    --compSpec-question-container-radius: var(--mn-baseSize-0250);

    --compSpec-question-container-shadow-resting: 0px 6px 16px 0px rgba(0, 0, 0, 0.08);
    --compSpec-question-container-shadow-hover: 0px 2px 2px 0px rgba(55, 113, 109, 0.12), 0px 4px 12px 0px rgba(55, 113, 109, 0.28);
    --compSpec-question-container-shadow-focus: 0px 2px 2px 0px rgba(55, 113, 109, 0.12), 0px 4px 12px 0px rgba(55, 113, 109, 0.28);
    --compSpec-question-container-shadow-active: 0px 2px 2px 0px rgba(0, 0, 0, 0.04), 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
    --compSpec-question-container-shadow-disabled: none;

    --compSpec-question-controls-container-spacing-vertical-bottom: var(--mn-baseSize-0100);
    --compSpec-question-controls-container-spacing-horizontal: var(--mn-baseSize-0100);

    --compSpec-question-input-color-bg: transparent;
    --compSpec-question-input-color-text-placeholder: var(--mn-baseColor-neutral-600);
    --compSpec-question-input-color-text-filled: var(--mn-baseColor-neutral-900);
    --compSpec-question-input-border: none;
    --compSpec-question-input-outline: none;
    --compSpec-question-input-color-carrot: var(--mn-baseColor-teal-700);
    --compSpec-question-input-spacing-padding-vertical: var(--mn-baseSize-0000);
    --compSpec-question-input-spacing-padding-horizontal: var(--mn-baseSize-0150);
    --compSpec-question-input-size-resting: var(--mn-baseSize-0600);
    --compSpec-question-input-size-focus: var(--mn-baseSize-1200);

    --compSpec-question-input-container-spacing-padding-vertical-top: var(--mn-baseSize-0200);
    --compSpec-question-input-container-spacing-padding-vertical-bottom: var(--mn-baseSize-0050);
    --compSpec-question-input-container-spacing-padding-horizontal: var(--mn-baseSize-0100);
}
.figma-dark body, body.dark-mode {
    --compSpec-question-container-color-bg-resting: var(--mn-baseColor-neutral-900);
    --compSpec-question-container-color-bg-hover: var(--mn-baseColor-teal-900);
    --compSpec-question-container-color-bg-focus: var(--mn-baseColor-teal-900);
    --compSpec-question-container-color-bg-active: var(--mn-baseColor-neutral-900);
    --compSpec-question-container-color-bg-disabled: var(--mn-baseColor-neutral-800);
    --compSpec-question-container-color-border-resting: var(--mn-baseColor-neutral-200);
    --compSpec-question-container-color-border-hover: var(--mn-baseColor-teal-200);
    --compSpec-question-container-color-border-focus: var(--mn-baseColor-teal-200);
    --compSpec-question-container-color-border-active: var(--mn-baseColor-teal-200);
    --compSpec-question-container-color-border-disabled: var(--mn-baseColor-neutral-600);

    --compSpec-question-input-color-text-placeholder: var(--mn-baseColor-neutral-400);
    --compSpec-question-input-color-text-filled: var(--mn-baseColor-neutral-100);
    --compSpec-question-input-color-carrot: var(--mn-baseColor-teal-300);
}

.question-container {
    display: flex;
    flex-flow: column;
    background-color: var(--compSpec-question-container-color-bg-resting);
    box-shadow: var(--compSpec-question-container-shadow-resting);
    border-color: var(--compSpec-question-container-color-border-resting);
    border-width: var(--compSpec-question-container-size-border-resting);
    border-style: solid;
    border-radius: var(--compSpec-question-container-radius);
    transition: all .25s ease-out;

    &:has(.question-input:hover) {
        background-color: var(--compSpec-question-container-color-bg-hover);
        box-shadow: var(--compSpec-question-container-shadow-hover);
        border-color: var(--compSpec-question-container-color-border-hover);
        border-width: var(--compSpec-question-container-size-border-hover);
    }

    &:has(.question-input:focus-within) {
        background-color: var(--compSpec-question-container-color-bg-active);
        box-shadow: var(--compSpec-question-container-shadow-active);
        border-color: var(--compSpec-question-container-color-border-active);
        border-width: var(--compSpec-question-container-size-border-active);
    }

    &:has(.question-input:disabled) {
        cursor: not-allowed;
        background-color: var(--compSpec-question-container-color-bg-disabled);
        box-shadow: var(--compSpec-question-container-shadow-disabled);
        border-color: var(--compSpec-question-container-color-border-disabled);
        border-width: var(--compSpec-question-container-size-border-disabled);
    }

    & .question-controls-container {
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding-left: var(--compSpec-question-controls-container-spacing-horizontal);
        padding-right: var(--compSpec-question-controls-container-spacing-horizontal);
        padding-bottom:  var(--compSpec-question-controls-container-spacing-vertical-bottom);
    }

    & .question-input{
        resize: none;
        transition: all .35s ease-out;
        cursor: text;

        background-color: var(--compSpec-question-input-color-bg);
        border: var(--compSpec-question-input-border);
        outline: var(--compSpec-question-input-outline);
        padding: var(--compSpec-question-input-spacing-padding-vertical) var(--compSpec-question-input-spacing-padding-horizontal);
        height: var(--compSpec-question-input-size-resting);
        caret-color: var(--compSpec-question-input-color-carrot);
        
        @include body-medium;

        &:focus-within {
            height: var(--compSpec-question-input-size-focus);
        }

        &:disabled{
            cursor: not-allowed;
        }

        &-label {
            display: none;
        }

        &-container{
            display: flex;
            flex-flow: column;
            padding: var(--compSpec-question-input-container-spacing-padding-vertical-top) var(--compSpec-question-input-container-spacing-padding-horizontal) var(--compSpec-question-input-container-spacing-padding-vertical-bottom);
        }
    }
}