@use 'sass:color';

:root {
    --mn-baseColor-teal-900: #1A3432;
    --mn-baseColor-teal-800: #244B48;
    --mn-baseColor-teal-700: #37716D;
    --mn-baseColor-teal-600: #428682;
    --mn-baseColor-teal-500: #499590;
    --mn-baseColor-teal-400: #5FA29D;
    --mn-baseColor-teal-300: #80B5B1;
    --mn-baseColor-teal-200: #BFDAD8;
    --mn-baseColor-teal-100: #DBEAE9;

    --mn-baseColor-neutral-900: #0F1C0D;
    --mn-baseColor-neutral-800: #273325;
    --mn-baseColor-neutral-700: #4B5549;
    --mn-baseColor-neutral-600: #687067;
    --mn-baseColor-neutral-500: #878D86;
    --mn-baseColor-neutral-400: #A6ABA5;
    --mn-baseColor-neutral-300: #C3C6C2;
    --mn-baseColor-neutral-200: #E7E8E7;
    --mn-baseColor-neutral-100: #FDFDFD;

    --mn-baseColor-red-900: #4D0021;
    --mn-baseColor-red-800: #800037;
    --mn-baseColor-red-700: #BF0052;
    --mn-baseColor-red-600: #E30062;
    --mn-baseColor-red-500: #FF006E;
    --mn-baseColor-red-400: #FF2684;
    --mn-baseColor-red-300: #FF59A1;
    --mn-baseColor-red-200: #FFA6CC;
    --mn-baseColor-red-100: #FFCCE2;

    --mn-baseColor-orange-900: #4B1A02;
    --mn-baseColor-orange-800: #7E2B03;
    --mn-baseColor-orange-700: #C94506;
    --mn-baseColor-orange-600: #E24D06;
    --mn-baseColor-orange-500: #FB5607;
    --mn-baseColor-orange-400: #FC6F2C;
    --mn-baseColor-orange-300: #FC8951;
    --mn-baseColor-orange-200: #FEC4A8;
    --mn-baseColor-orange-100: #FEDDCD;

    --mn-baseColor-yellow-900: #4D3903;
    --mn-baseColor-yellow-800: #8C6806;
    --mn-baseColor-yellow-700: #BF8E08;
    --mn-baseColor-yellow-600: #E5AB0A;
    --mn-baseColor-yellow-500: #FFBE0B;
    --mn-baseColor-yellow-400: #FFC830;
    --mn-baseColor-yellow-300: #FFD154;
    --mn-baseColor-yellow-200: #FFE8AA;
    --mn-baseColor-yellow-100: #FFF2CE;

    --mn-baseColor-green-900: #192F15;
    --mn-baseColor-green-800: #294F23;
    --mn-baseColor-green-700: #427E39;
    --mn-baseColor-green-600: #4B8E40;
    --mn-baseColor-green-500: #539E47;
    --mn-baseColor-green-400: #6DAD63;
    --mn-baseColor-green-300: #87BB7E;
    --mn-baseColor-green-200: #C3DDBF;
    --mn-baseColor-green-100: #DDECDA;

    --mn-baseColor-blue-900: #11284D;
    --mn-baseColor-blue-800: #1D4380;
    --mn-baseColor-blue-700: #2E6BCC;
    --mn-baseColor-blue-600: #3479E5;
    --mn-baseColor-blue-500: #3A86FF;
    --mn-baseColor-blue-400: #5898FF;
    --mn-baseColor-blue-300: #75AAFF;
    --mn-baseColor-blue-200: #BAD5FF;
    --mn-baseColor-blue-100: #D8E7FF;

    --mn-baseColor-purple-900: #2D1A48;
    --mn-baseColor-purple-800: #4B2B78;
    --mn-baseColor-purple-700: #7141B3;
    --mn-baseColor-purple-600: #884ED7;
    --mn-baseColor-purple-500: #9757EF;
    --mn-baseColor-purple-400: #A770F1;
    --mn-baseColor-purple-300: #B689F4;
    --mn-baseColor-purple-200: #DBC4F9;
    --mn-baseColor-purple-100: #EADDFC;

    --mn-baseColor-transparent: transparent;

    --mn-baseSize-0000: 0px;
    --mn-baseSize-0013: 1px;
    --mn-baseSize-0025: 2px;
    --mn-baseSize-0050: 4px;
    --mn-baseSize-0075: 6px;
    --mn-baseSize-0100: 8px;
    --mn-baseSize-0125: 10px;
    --mn-baseSize-0150: 12px;
    --mn-baseSize-0175: 14px;
    --mn-baseSize-0200: 16px;
    --mn-baseSize-0225: 18px;
    --mn-baseSize-0250: 20px;
    --mn-baseSize-0300: 24px;
    --mn-baseSize-0350: 28px;
    --mn-baseSize-0375: 30px;
    --mn-baseSize-0400: 32px;
    --mn-baseSize-0425: 34px;
    --mn-baseSize-0450: 36px;
    --mn-baseSize-0500: 40px;
    --mn-baseSize-0550: 44px;
    --mn-baseSize-0600: 48px;
    --mn-baseSize-0700: 56px;
    --mn-baseSize-0725: 58px;
    --mn-baseSize-0800: 64px;
    --mn-baseSize-0850: 68px;
    --mn-baseSize-0900: 72px;
    --mn-baseSize-1000: 80px;
    --mn-baseSize-1100: 88px;
    --mn-baseSize-1150: 92px;
    --mn-baseSize-1200: 96px;
    --mn-baseSize-6100: 488px;
    --mn-baseSize-6500: 520px;
    --mn-baseSize-8000: 640px;

    --mn-baseType-fontFamily-default: Barlow;
    --mn-baseType-weight-default: 400;
    --mn-baseType-weight-highImp: 500;
    --mn-baseType-size-headline-xlarge: var(--mn-baseSize-0700);
    --mn-baseType-size-headline-large: var(--mn-baseSize-0600);
    --mn-baseType-size-headline-medium: var(--mn-baseSize-0450);
    --mn-baseType-size-headline-small: var(--mn-baseSize-0350);
    --mn-baseType-size-headline-xsmall: var(--mn-baseSize-0300);
    --mn-baseType-size-body-medium: var(--mn-baseSize-0225);
    --mn-baseType-size-body-small: var(--mn-baseSize-0200);
    --mn-baseType-size-body-xsmall: var(--mn-baseSize-0175);
    --mn-baseType-lineHeight-headline-xlarge: var(--mn-baseSize-0850);
    --mn-baseType-lineHeight-headline-large: var(--mn-baseSize-0725);
    --mn-baseType-lineHeight-headline-medium: var(--mn-baseSize-0550);
    --mn-baseType-lineHeight-headline-small: var(--mn-baseSize-0425);
    --mn-baseType-lineHeight-headline-xsmall: var(--mn-baseSize-0375);
    --mn-baseType-lineHeight-body-medium: var(--mn-baseSize-0300);
    --mn-baseType-lineHeight-body-small: var(--mn-baseSize-0250);
    --mn-baseType-lineHeight-body-xsmall: var(--mn-baseSize-0225);

    --semantic-size-app-maxWidth: var(--mn-baseSize-8000);
    --semantic-spacing-app-padding-vertical-top: var(--mn-baseSize-0300);
    --semantic-spacing-app-padding-horizontal: var(--mn-baseSize-0200);

    --semantic-spacing-vertical-zero: var(--mn-baseSize-0000);
    --semantic-spacing-vertical-xsmall: var(--mn-baseSize-0050);
    --semantic-spacing-vertical-small: var(--mn-baseSize-0075);
    --semantic-spacing-vertical-medium: var(--mn-baseSize-0100);
    --semantic-spacing-vertical-large: var(--mn-baseSize-0150);
    --semantic-spacing-vertical-xlarge: var(--mn-baseSize-0200);
    --semantic-spacing-vertical-xxlarge: var(--mn-baseSize-0300);

    --semantic-color-bg-page-primary: var(--mn-baseColor-neutral-100);

    --semantic-color-text-default: var(--mn-baseColor-neutral-900);
    --semantic-color-text-supplementary: var(--mn-baseColor-neutral-700);
    --semantic-color-text-default-inverse: var(--mn-baseColor-neutral-100);
    --semantic-color-text-supplementary-inverse: var(--mn-baseColor-neutral-300);

    --semantic-transition-standard: all 200ms ease-out;
    --semantic-transition-long: all 400ms ease-out;
}

.figma-dark body, body.dark-mode {
    --semantic-color-bg-page-primary: var(--mn-baseColor-neutral-900);

    --semantic-color-text-default: var(--mn-baseColor-neutral-100);
    --semantic-color-text-supplementary: var(--mn-baseColor-neutral-300);
    --semantic-color-text-default-inverse: var(--mn-baseColor-neutral-900);
    --semantic-color-text-supplementary-inverse: var(--mn-baseColor-neutral-700);
}
  

@mixin headline-xlarge{
    font-family: var(--mn-baseType-fontFamily-default), sans-serif;
    font-size: var(--mn-baseType-size-headline-xlarge);
    line-height: var(--mn-baseType-lineHeight-headline-xlarge);
    font-weight: var(--mn-baseType-weight-highImp);
}
@mixin headline-large{
    font-family: var(--mn-baseType-fontFamily-default), sans-serif;
    font-size: var(--mn-baseType-size-headline-large);
    line-height: var(--mn-baseType-lineHeight-headline-large);
    font-weight: var(--mn-baseType-weight-default);
}
@mixin headline-medium{
    font-family: var(--mn-baseType-fontFamily-default), sans-serif;
    font-size: var(--mn-baseType-size-headline-medium);
    line-height: var(--mn-baseType-lineHeight-headline-medium);
    font-weight: var(--mn-baseType-weight-default);
}
@mixin headline-small{
    font-family: var(--mn-baseType-fontFamily-default), sans-serif;
    font-size: var(--mn-baseType-size-headline-small);
    line-height: var(--mn-baseType-lineHeight-headline-small);
    font-weight: var(--mn-baseType-weight-highImp);
}
@mixin headline-xsmall{
    font-family: var(--mn-baseType-fontFamily-default), sans-serif;
    font-size: var(--mn-baseType-size-headline-xsmall);
    line-height: var(--mn-baseType-lineHeight-headline-xsmall);
    font-weight: var(--mn-baseType-weight-default);
}

@mixin body-medium{
    font-family: var(--mn-baseType-fontFamily-default), sans-serif;
    font-size: var(--mn-baseType-size-body-medium);
    line-height: var(--mn-baseType-lineHeight-body-medium);
    font-weight: var(--mn-baseType-weight-default);
}
@mixin body-medium-highImp{
    font-family: var(--mn-baseType-fontFamily-default), sans-serif;
    font-size: var(--mn-baseType-size-body-medium);
    line-height: var(--mn-baseType-lineHeight-body-medium);
    font-weight: var(--mn-baseType-weight-highImp);
}
@mixin body-small{
    font-family: var(--mn-baseType-fontFamily-default), sans-serif;
    font-size: var(--mn-baseType-size-body-small);
    line-height: var(--mn-baseType-lineHeight-body-small);
    font-weight: var(--mn-baseType-weight-default);
}
@mixin body-xsmall{
    font-family: var(--mn-baseType-fontFamily-default), sans-serif;
    font-size: var(--mn-baseType-size-body-xsmall);
    line-height: var(--mn-baseType-lineHeight-body-xsmall);
    font-weight: var(--mn-baseType-weight-default);
}