#app {
  max-width: var(--semantic-size-app-maxWidth);
  margin: 0 auto;
  padding-top: var(--semantic-spacing-app-padding-vertical-top);
  padding-left: var(--semantic-spacing-app-padding-horizontal);
  padding-right: var(--semantic-spacing-app-padding-horizontal);
  display: flex;
  flex-flow: column;
  min-height: calc(100vh - var(--semantic-spacing-app-padding-vertical-top));
}

.starting-header {
  display: flex;
  flex-flow: column;
  gap: var(--semantic-spacing-vertical-medium);
  margin-bottom: var(--semantic-spacing-vertical-xxlarge);
}

.footer {
  position: sticky;
  bottom: var(--mn-baseSize-0000);
  left: var(--mn-baseSize-0000);
  //width: 100vw;
  margin: 0 -16px;
  background-color: var(--semantic-color-bg-page-primary);

  & .bot-intro-container {
    padding: 0px 16px;
  }

  & .footer-content {
    padding: var(--mn-baseSize-0200) var(--mn-baseSize-0250) var(--mn-baseSize-0100);
    display: flex;
    flex-flow: column;
    gap: var(--mn-baseSize-0150)
  }

  & .footnote-centered {
    text-align: center;
  }
}