#app {
    max-width: var(--semantic-size-app-maxWidth);
    margin: 0 auto;
    padding-top: var(--semantic-spacing-app-padding-vertical-top);
    padding-left: var(--semantic-spacing-app-padding-horizontal);
    padding-right: var(--semantic-spacing-app-padding-horizontal);
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.preact:hover {
    filter: drop-shadow(0 0 2em #673ab8aa);
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }

  h2 {
    color: #4f4A4a;
  }

.starting-header{
  display: flex;
  flex-flow: column;
  gap: var(--semantic-spacing-vertical-medium);
  margin-bottom: var(--semantic-spacing-vertical-xxlarge);
}

.footer{
  position: fixed;
  bottom: var(--mn-baseSize-0000);
  left: var(--mn-baseSize-0000);
  width: 100vw;
  background-color: var(--semantic-color-bg-page-primary);
  

  & .footer-content{
    padding: var(--mn-baseSize-0200) var(--mn-baseSize-0200) var(--mn-baseSize-0100);
  }
}