@use '../../variables' as *;

:root {
    --apiKey-test-button-container-color-bg: var(--mn-color-neutral-0100);
    --apiKey-test-success-icon-color-icon: var(--mn-color-green-0700);
}

.figma-dark body,
body.dark-mode {
    --apiKey-test-button-container-color-bg: var(--mn-color-neutral-0900);
    --apiKey-test-success-icon-color-icon: var(--mn-color-green-0300);
}

.settings-form-container{
    display: flex;
    flex-flow: column;
    margin-top: 24px;

    & .button-group{
        display: flex;
        flex-flow: row;
        flex-wrap: nowrap;
        gap: 16px;
        margin-top: 32px;
    }
}

.api-key-input-miniform{
    display: flex;
    flex-flow: row;

    & .api-key-input{
        flex-grow: 1;
    }

    & .api-key-test-button-container {
        align-self: flex-start;
        margin-top: 56px;
        margin-left: -67px;
        background-color: var(--apiKey-test-button-container-color-bg);
        border-radius: 16px;
        outline: 1px var(--apiKey-test-button-container-color-bg) solid;
    }

    & .api-key-test-successIcon-container{
        align-self: flex-start;
        margin-top: 68px;
        margin-left: -36px;
        padding-right: 12px;
        
        & svg{
            fill: var(--apiKey-test-success-icon-color-icon);
        }
    }
}

.api-key-input:not(.success) input[type=text]{
    padding-right: 80px;
}
.api-key-input.success input[type=text]{
    padding-right: 52px;
}

.model-selection{
    margin-top: var(--mn-baseSize-0300);
}