@use '../../variables' as *;

:root {
    --compSpec-message-spacing-padding-vertical: var(--mn-baseSize-0100);
    --compSpec-message-spacing-padding-horizontal: var(--mn-baseSize-0200);
    --compSpec-message-size-maxWidth: var(--mn-baseSize-6100);
    --compSpec-message-radius-default: var(--mn-baseSize-0250);
    --compSpec-message-user-color-bg: var(--mn-color-neutral-0200);
    --compSpec-message-assistant-color-bg: var(--mn-color-primary-0100);
    --compSpec-message-user-color-text: var(--semantic-color-text-default);
    --compSpec-message-assistant-color-text: var(--semantic-color-text-default);
    --compSpec-message-assistant-image-size-width: var(--mn-baseSize-0400);
    --compSpec-message-assistant-image-size-height: var(--mn-baseSize-0400);
}

.figma-dark body, body.dark-mode{
    --compSpec-message-user-color-bg: var(--mn-color-neutral-0800);
    --compSpec-message-assistant-color-bg: var(--mn-color-primary-0900);
    --compSpec-message-user-color-text: var(--semantic-color-text-default);
    --compSpec-message-assistant-color-text: var(--semantic-color-text-default);
}

.messageRow{
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    transition-property: opacity, translate;
    transition-duration: 400ms;
    transition-timing-function: ease-out;

    @starting-style{
        opacity: 0;
        translate: 0 48px;
    }
}

@mixin messageContainerBase {
    padding: var(--compSpec-message-spacing-padding-vertical) var(--compSpec-message-spacing-padding-horizontal);
    border-radius: var(--compSpec-message-radius-default);
    max-width: var(--compSpec-message-size-maxWidth);
}

.message_container_user {
    align-self: flex-end;
    background-color: var(--compSpec-message-user-color-bg);
    color: var(--compSpec-message-user-color-text);
    @include messageContainerBase;
}

.message_container_assistant {
    align-self: flex-start;
    background-color: var(--compSpec-message-assistant-color-bg);
    color: var(--compSpec-message-assistant-color-text);
    @include messageContainerBase;

    & p, & span, & li {
        @include body-medium;

        &:not(:first-child){
            margin-top: 8px;
            margin-bottom: unset;
        }
        &:first-child{
            margin: unset;
        }
    }
    & p strong, & span strong, & li strong {
        @include body-medium-highImp;
    }

    & ol, & ul{
        &:not(:first-child){
            margin-top: 8px;
            margin-bottom: unset;
        }
        &:first-child{
            margin: unset;
        }
    }

    & h1{
        @include headline-medium;
        
        &:not(:first-child){
            margin-top: 24px;
            margin-bottom: unset;
        }
        &:first-child{
            margin: unset;
        }
    }
    & h2{
        @include headline-small;
        
        &:not(:first-child){
            margin-top: 24px;
            margin-bottom: unset;
        }
        &:first-child{
            margin: unset;
        }
    }
    & h3{
        //@include headline-medium;
        font-family: var(--mn-baseType-fontFamily-default), sans-serif;
        font-size: var(--mn-baseType-size-headline-xsmall);
        line-height: var(--mn-baseType-lineHeight-headline-xsmall);
        font-weight: var(--mn-baseType-weight-highImp);

        &:not(:first-child){
            margin-top: 24px;
            margin-bottom: unset;
        }
        &:first-child{
            margin: unset;
        }
    }
    & h4{
        font-family: var(--mn-baseType-fontFamily-default), sans-serif;
        font-size: 22px;
        line-height: 28px;
        font-weight: var(--mn-baseType-weight-highImp);
        
        &:not(:first-child){
            margin-top: 24px;
            margin-bottom: unset;
        }
        &:first-child{
            margin: unset;
        }
    }
    & h5{
        font-family: var(--mn-baseType-fontFamily-default), sans-serif;
        font-size: 20px;
        line-height: 26px;
        font-weight: var(--mn-baseType-weight-highImp);
        
        &:not(:first-child){
            margin-top: 24px;
            margin-bottom: unset;
        }
        &:first-child{
            margin: unset;
        }
    }
    & hr{
        margin-top: 24px;
        margin-bottom: unset;
    }
}